<div class="container">
  <div class="row">
    <main class="col s9">
        <app-gallery-item
          class="col s12 m6 l3"
          *ngFor="let itemEl of gelleryItems"
          [item]="itemEl"
          (delete)="handleDelete($event)">
        </app-gallery-item>
        <ng-template [ngIf]="gelleryItems.length < 1">
          <h3>You don't have any saved images.</h3>
          <a class="waves-effect waves-light btn" (click)="onRefresh()">Refresh gallery</a>
        </ng-template>
    </main>
    <aside class="col s3">
        <app-gallery-form></app-gallery-form>
    </aside>
  </div>
</div>