<form
    class="col s12"
    [formGroup]="galleryForm"
    (ngSubmit)="onSubmit()">
    <div class="input-field col s12">
        <input
            id="title"
            type="text"
            class="validate"
            formControlName="title">
        <label class="active" for="title">Title</label>
    </div>
    <div class="input-field col s12">
        <input
            id="url"
            type="text"
            class="validate"
            formControlName="url">
        <label for="url">Url</label>
    </div>
    <div class="center-align">
        <button
            class="waves-effect waves-light btn-large"
            type="submit"
            [disabled]="!galleryForm.valid">Add new image</button>
    </div>
</form>
