<form class="col s12">
    <div class="input-field col s12">
        <input id="title" type="text" class="validate">
        <label class="active" for="title">Title</label>
    </div>
    <div class="input-field col s12">
        <input id="url" type="text" class="validate">
        <label for="url">Url</label>
    </div>
    <div class="center-align">
        <button
            class="waves-effect waves-light btn-large"
            (click)="onAddNewImg($event); false">Add new image</button>
    </div>
</form>
